@page {
  size: A4;
  margin: 0mm;
}

.navbar .container {
  max-width: 100%;
  width: 22.7cm;
}

#display-cv {
  display: block;
  width: 22.7cm;
  height: 29.7cm;
}

#static-cv {
  display: none;
}

@media print {
  #content {
    display: none;
  }
  #static-cv {
    display: block;
  }
}
