<div id="content">
  <nav class="navbar navbar-dark bg-dark">
    <div class="container">
      <div>
        <span class="navbar-brand">CV</span>
        <a href="#" class="btn mb-1 py-0" (click)="printStaticCv()"><fa-icon icon="print" class="text-white"></fa-icon></a>
      </div>
      <span class="navbar-text">
        <a href="#" (click)="updateLang('fr')"><img src="assets/img/french.png" alt="french" width="30px" /></a>
        <a href="#" (click)="updateLang('en')"><img src="assets/img/english.png" alt="english" width="30px" /></a>
      </span>
    </div>
  </nav>
  <static-cv id="display-cv" class="container-fluid bg-white border my-3"></static-cv>
</div>
<static-cv id="static-cv" #staticCv></static-cv>