<div class="row">
  <div class="col p-5">
    
    <!-- Details -->
    <div class="row">
      <div class="col-5">
        <div class="ps-2 border-start border-dark border-2">
          <h3>Camille Levavasseur</h3>
          <div><fa-icon icon="cake-candles"></fa-icon>&nbsp;08/08/1995</div>
          <div><fa-icon icon="phone"></fa-icon>&nbsp;+33 6 36 36 08 00</div>
          <div><fa-icon icon="envelope"></fa-icon>&nbsp;camille.levavasseur08@gmail.com</div>
        </div>
      </div>
      <div class="col text-end">
        <div class="d-inline-flex">
          <div>
            <h1>{{ 'title' | translate }}</h1>
            <div>{{ 'description' | translate }}</div>
          </div>
          <img src="assets/img/photo_color.jpg" class="img-fluid cv-photo ms-2">
        </div>
      </div>
    </div>
    
    <!-- Experience -->
    <div class="row mt-3">
      <div class="col">
        <h2>{{ 'experience.title' | translate }}</h2>

        <div class="row">
          <div class="col">
            <custom-date startDate="05/01/2020" endDate="today"></custom-date>
            <h5><span class="fw-bold">{{ 'experience.designEngineer.title' | translate }}</span> &bull; Orange Business Services &bull; Cesson Sévigné (35)</h5>
            <div>{{ 'experience.designEngineer.description' | translate }}</div>
            <ul class="fa-ul mb-0">
              <li>
                <span class="fa-li"><fa-icon icon="caret-right"></fa-icon></span>{{ 'experience.designEngineer.list1.title' | translate }}
                <ul>
                  <li [innerHTML]="'experience.designEngineer.list1.sublist1' | translate"></li>
                  <li [innerHTML]="'experience.designEngineer.list1.sublist2' | translate"></li>
                  <li [innerHTML]="'experience.designEngineer.list1.sublist3' | translate"></li>
                </ul>
              </li>
              <li><span class="fa-li"><fa-icon icon="caret-right"></fa-icon></span><span [innerHTML]="'experience.designEngineer.list2' | translate"></span></li>
              <li><span class="fa-li"><fa-icon icon="caret-right"></fa-icon></span><span [innerHTML]="'experience.designEngineer.list3' | translate"></span></li>
              <li><span class="fa-li"><fa-icon icon="caret-right"></fa-icon></span>{{ 'experience.designEngineer.list4' | translate }}</li>
              <li><span class="fa-li"><fa-icon icon="caret-right"></fa-icon></span>{{ 'experience.designEngineer.list5' | translate }}</li>
            </ul>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col">
            <custom-date startDate="11/01/2018" endDate="04/01/2020"></custom-date>
            <h5><span class="fw-bold">{{ 'experience.developmentEngineer.title' | translate }}</span> &bull; Orange Business Services &bull; Cesson Sévigné (35)</h5>
            <div>{{ 'experience.developmentEngineer.description' | translate }}</div>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col">
            <custom-date startDate="09/01/2013" endDate="07/01/2018"></custom-date>
            <h5><span class="fw-bold">{{ 'experience.apprentice.title' | translate }}</span> &bull; Orange &bull; Cesson Sévigné (35)</h5>
            <ul class="fa-ul mb-0">
              <li><span class="fa-li"><fa-icon icon="caret-right"></fa-icon></span>{{ 'experience.apprentice.list1' | translate }}</li>
              <li><span class="fa-li"><fa-icon icon="caret-right"></fa-icon></span>{{ 'experience.apprentice.list2' | translate }}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!-- Skills -->
    <div class="row">
      <div class="col">
        <h2>{{ 'skills.title' | translate }}</h2>
        <div class="row">

          <div class="col-6">

            <ng-template #skills let-skillLevel="skillLevel">
              <fa-icon *ngFor="let _ of [].constructor(skillLevels[skillLevel]['number'])" [icon]="['fas', 'circle']" class="me-1 text-{{ skillLevels[skillLevel]['color'] }}"></fa-icon>
              <fa-icon *ngFor="let _ of [].constructor(5-skillLevels[skillLevel]['number'])" [icon]="['far', 'circle']" class="me-1 text-{{ skillLevels[skillLevel]['color'] }}"></fa-icon>
            </ng-template>

            <!-- Programming -->
            <div class="fst-italic mb-1">{{ 'skills.programming' | translate }}</div>
            <div class="row">
              <div class="col-7"><span class="fw-bold">Python3</span> &bull; <fa-icon icon="toolbox"></fa-icon>&nbsp;Flask</div>
              <div class="col-5">
                <ng-container [ngTemplateOutlet]="skills" [ngTemplateOutletContext]="{skillLevel: 'advanced'}"></ng-container>
                <!-- <ngb-progressbar type="warning" [value]="25" height="10px"></ngb-progressbar> -->
                <!-- <img src="assets/img/advanced.png" alt="advanced" /> -->
              </div>
            </div>
            <div class="row">
              <div class="col-7"><span class="fw-bold">Java 11 / Kotlin</span> &bull; <fa-icon icon="toolbox"></fa-icon>&nbsp;Spring</div>
              <div class="col-5">
                <ng-container [ngTemplateOutlet]="skills" [ngTemplateOutletContext]="{skillLevel: 'intermediate'}"></ng-container>
              </div>
              <!-- <div class="col-5"><img src="assets/img/intermediate.png" alt="intermediate" /></div> -->
            </div>
            <div class="row">
              <div class="col-7"><span class="fw-bold">SQL</span></div>
              <div class="col-5">
                <ng-container [ngTemplateOutlet]="skills" [ngTemplateOutletContext]="{skillLevel: 'intermediate'}"></ng-container>
              </div>
              <!-- <div class="col-5"><img src="assets/img/intermediate.png" alt="intermediate" /></div> -->
            </div>
            <div class="row">
              <div class="col-7"><span class="fw-bold">HTML5, CSS</span> &bull; <fa-icon icon="toolbox"></fa-icon>&nbsp;Bootstrap</div>
              <div class="col-5">
                <ng-container [ngTemplateOutlet]="skills" [ngTemplateOutletContext]="{skillLevel: 'advanced'}"></ng-container>
              </div>
              <!-- <div class="col-5"><img src="assets/img/advanced.png" alt="advanced" /></div> -->
            </div>
            <div class="row">
              <div class="col-7"><span class="fw-bold">Typescript</span> &bull; <fa-icon icon="toolbox"></fa-icon>&nbsp;Angular (12+)</div>
              <div class="col-5">
                <ng-container [ngTemplateOutlet]="skills" [ngTemplateOutletContext]="{skillLevel: 'advanced'}"></ng-container>
              </div>
              <!-- <div class="col-5"><img src="assets/img/advanced.png" alt="advanced" /></div> -->
            </div>

          </div>

          <div class="col-6">

            <!-- Tools -->
            <div class="mt-2 fst-italic mb-1">{{ 'skills.tools' | translate }}</div>
            <div class="row">
              <div class="col-7"><span class="fw-bold">Git, Gitlab</span></div>
              <div class="col-5">
                <ng-container [ngTemplateOutlet]="skills" [ngTemplateOutletContext]="{skillLevel: 'expert'}"></ng-container>
              </div>
              <!-- <div class="col-5"><img  src="assets/img/expert.png" alt="expert" /></div> -->
            </div>
            <div class="row">
              <div class="col-7"><span class="fw-bold">Kubernetes</span></div>
              <div class="col-5">
                <ng-container [ngTemplateOutlet]="skills" [ngTemplateOutletContext]="{skillLevel: 'intermediate'}"></ng-container>
              </div>
              <!-- <div class="col-5"><img src="assets/img/intermediate.png" alt="intermediate" /></div> -->
            </div>
            <div class="row">
              <div class="col-7"><span class="fw-bold">RabbitMQ</span></div>
              <div class="col-5">
                <ng-container [ngTemplateOutlet]="skills" [ngTemplateOutletContext]="{skillLevel: 'advanced'}"></ng-container>
              </div>
              <!-- <div class="col-5"><img src="assets/img/advanced.png" alt="advanced" /></div> -->
            </div>

          </div>
        </div>

        <div class="row mt-2">

          <div class="col-6">
            <!-- Languages -->
            <div class="fst-italic mb-1">{{ 'skills.languages.title' | translate }}</div>
            <div>{{ 'skills.languages.french' | translate }} &bull; {{ 'skills.languages.level.native' | translate }}</div>
            <div>{{ 'skills.languages.english' | translate }} &bull; {{ 'skills.languages.level.professional' | translate }}</div>
          </div>

          <div class="col-6">
            <!-- Soft skills -->
            <div class="fst-italic mb-1">Soft skills</div>
            <div>{{ 'skills.softSkills' | translate }}</div>
          </div>

        </div>
      </div>
    </div>
    
    <!-- Education -->
    <div class="row">
      <div class="col">
        <h2>{{ 'education.title' | translate }}</h2>

        <custom-date startDate="09/01/2015" endDate="07/01/2018"></custom-date>
        <div><span class="fw-bold">{{ 'education.engineer.title' | translate }}</span> &bull; IMT Atlantique (29)</div>
        <ul class="fa-ul">
          <li><span class="fa-li"><fa-icon icon="caret-right"></fa-icon></span>{{ 'education.engineer.description' | translate }}</li>
        </ul>

        <custom-date startDate="09/01/2013" endDate="08/01/2015"></custom-date>
        <div><span class="fw-bold">{{ 'education.technician.title' | translate }}</span> &bull; {{ 'education.technician.place' | translate }} (35)</div>
        <ul class="fa-ul mb-0">
          <li><span class="fa-li"><fa-icon icon="caret-right"></fa-icon></span>{{ 'education.technician.description' | translate }}</li>
        </ul>

      </div>
    </div>
    
    <!-- Misc -->
    <div class="row">
      <div class="col">
        <h2>{{ 'misc.title' | translate }}</h2>
        <div [innerHTML]="'misc.details' | translate"></div>
      </div>
    </div>
    
  </div>
</div>